<!DOCTYPE html>
<html>
<%- include('partials/header'); -%>
<script src='/assets/jquery.js'></script>




<!-------------------------------------------------------- Login Form ------------------------------------------->

<div class="post-page">
    <div class="form">
        <form class="post-form" method="post" enctype="multipart/form-data" action="/uploadTxt">
            <input type="text" name="title" placeholder="Title" required />
            <input id="postContent" type="text" name="content" placeholder="Content of Post" />
            <input type="file" name="content">
            <button type="submit">Add Post</button>
        </form>

    </div>
</div>
</body>

</html>