<!DOCTYPE html>
<html>

    <%- include('partials/header'); -%>


    <div class="post-page">
        <div class="postContainer">
            <div class="postTitle">
                <h3 id="singlePostTitle"> <%=  title %></h3>
            </div>

            <div class="blogPostPage" id="singlePostContent"> "<%= data.content %>"
            </div>
        </div>
    </div>

</body>

</html>