body {
    background-color: #cccccc;
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
   }
  
  /*---------------------------------- Navigation Bar Style -----------------------------------------------------*/
  
  
  .nav-bar {
  background-color: black;
  overflow: hidden;
  opacity: 85%;
  }
  
  .nav-bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-content: center;
  margin-top: 20px;
  }
  
  .nav-bar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 25px;
  
  }
  
  #leftAlign {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  padding-left: 100px;
  margin-top: -30px;
  }
  
  #leftAlign img {
  height: auto;
  width: 100%;
  }
  
  
  /*---------------------------------- Home Page Background image -----------------------------------------------------*/
  .indexBackground {
    width: 90%;
    max-height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  /*---------------------------------- Column/Row Styling -----------------------------------------------------*/
  .column {
    float: left;
    background: rgba(51, 51, 51, 0.9);
    margin: 20px;
    align-content: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 5px;
  }
  
  /*---------------------------------- Blog Post Content *including title -----------------------------------------------------*/
  
  .blogPost {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  }
  
  .blogPost a {
    text-decoration: none;    
  }
  
  .blogPost a h3 {
        font-size: 30px;
        background: -webkit-linear-gradient(#bd0034, #e74598);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
  }
  
  
  /*---------------------------------- Footer -----------------------------------------------------*/
  footer {
    background-color: black;
    color: #f2f2f2;
    opacity: 85%;
    font-size: 20px;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
    color: #f2f2f2;
  }
  
  /*---------------------------------- Post Styling -----------------------------------------------------*/
  
  .post-page {
  width: 90%;
  padding: 8% 0 0;
  margin: auto;
  }
  
  .postContainer {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 90%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .blogPostPage {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  }
  
  .postTitle {
    font-size: 30px;
    background: -webkit-linear-gradient(#bd0034, #e74598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  /*---------------------------------- Slideshow -----------------------------------------------------*/
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 10px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }